<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ver todos los libros</title>
</head>
<body>
	<table>
		<thead>
			<th>Titulo</th>
			<th>Autor</th>
			<th>ISBN</th>
			<th>Categoria</th>
			<th>Fecha de Ingreso</th>
		</thead>
			<th:block th:each="libro, row:${libros}">
				<tr>
					<th th:text="${libro.s_titulo}"/>
					<th th:text="${libro.s_autor}"/>
					<th th:text="${libro.s_isbn}"/>
					<th th:text="${libro.categoria.s_categoria}"/>
					<th th:text="${libro.f_ingresoDelegate}"/>
				</tr>
			</th:block>
	</table>
</body>
</html>